*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*Logo keliye he*/
.Body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bgImg.jpeg);
    background-size: cover;
    background-position: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    float: left;
}
/*Navigation bar starts here*/
.topNav{
    width: 97%;
    padding: 5px 20px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}
.topNav ul li{
    right: 0;
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}
.topNav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.topNav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom:  -10px;
    transition: 0.5s;
}
.topNav ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}  
span{
    background: rgb(133, 133, 133);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
